html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Nasa";
  src: url(/public/fonts/nasalization-rg.otf);
}
@font-face {
  font-family: "Orbitron";
  src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Titillium";
  src: url(/public/fonts/TitilliumWeb-Regular.ttf);
}

:root {
  --white: #f4f4f4;
  --grey: #cccccc;
  --error: #ff3333;
  --valid: #33cc33;
  --principal: #66ccff;
  --black: #020202;
  --secondaire: #9933cc;
}

h2,
h3 {
  color: var(--black);
}

.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  & .home__left {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrage vertical */
    align-items: left; /* Centrage horizontal */
    width: 70%;
    padding: 0% 5%;
    background-color: var(--white);
    & .home__left--logo {
      display: flex;
      align-items: flex-end;
      font-family: "Nasa";
      font-size: 2.5rem;
      margin-bottom: 10rem;
      & img {
        width: 5rem;
        margin-right: 1rem;
      }
    }
    & .home__left--text {
      font-size: 1.2rem;
      text-align: justify;
      font-family: "Titillium";
      margin-bottom: 2rem;
    }
  }
  & .home__right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrage vertical */
    align-items: center; /* Centrage horizontal */
    width: 30%;
    background-color: var(--grey);
    & .home__right--input {
      border: none;
      padding: 0.5rem;
      width: 80%;
      border-bottom: 0.1rem solid var(--black);
      background-color: transparent;
      margin-bottom: 2rem;
      font-family: "Titillium";
      &:focus {
        outline: none;
        border-bottom: 0.1rem solid var(--black);
      }
    }
    & .home__right--input::placeholder {
      text-transform: uppercase;
    }
  }
}
.h2__title {
  font-size: 2rem;
  font-family: "Orbitron";
}

.h3__title {
  font-size: 1.8rem;
  font-family: "Orbitron";
}

.btn__secondaire {
  background-color: var(--secondaire);
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  max-width: 14rem;
}

.page {
  display: flex;

  > :first-child {
    flex: 0 0 20%;
  }

  > :not(:first-child) {
    flex: 1;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 100vh;
  .menu__logo {
    display: flex;
    align-items: flex-end;
    padding: 2.4rem 2rem;
    font-family: "Nasa";
    font-size: 2.5rem;
    img {
      width: 5vw;
    }
  }
  .menu__link {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 4.5rem 2.4rem 2rem;
    .menu__link--dashboard,
    .menu__link--vaisseaux {
      padding: 0.5rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      text-decoration: none;
      font-family: "Orbitron";
      color: var(--black);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 2rem;

      svg {
        background-color: var(--secondaire);
        padding: 0.5rem;
        border-radius: 2rem;
      }
    }
    .menu__link--dashboard {
      svg {
        path {
          stroke: var(--white);
        }
      }
    }
    .menu__link--vaisseaux {
      svg {
        path {
          fill: var(--white);
        }
      }
    }
    /* ACTIF */
    .menu__link--dashboard.actif,
    .menu__link--vaisseaux.actif {
      background-color: var(--grey);
      svg {
        background-color: var(--white);
      }
    }
    .menu__link--dashboard.actif {
      svg {
        path {
          stroke: var(--black);
        }
      }
    }
    .menu__link--vaisseaux.actif {
      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
  .menu__made {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    padding: 2.4rem 2rem;
    font-family: "Nasa";
    img {
      width: 4vw;
    }
  }
}

.dashboard {
  background-color: var(--grey);
  padding: 2rem 4rem;
  max-height: 100vh;
  .dashboard__divs {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-gap: 20px;
    max-height: 100vh;
    .dashboard__ships {
      grid-column: 1 / 2;
      grid-row: 1 / span 4;
      background-color: var(--white);
      border-radius: 0.5rem;
      margin-right: 5rem;
      padding: 1rem 3rem;
      height: 82vh;
      h3 {
        text-align: center;
      }
      .dashboard__ships--ship {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--secondaire);
        padding-bottom: 1rem;
        .dashboard__ships--shipinfo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .symbol,
          .nav,
          .destination {
            font-family: "Titillium";
            font-weight: 800;
            display: flex;
            align-items: flex-end;
            gap: 1rem;
          }
        }
        a {
          font-size: 0.8rem;
          font-family: "Orbitron";
          padding: 0.7rem;
          color: var(--white);
          border-radius: 2rem;
          text-decoration: none;
          background-color: var(--secondaire);
          text-align: center;
          margin: auto;
        }
      }
    }
    .dashboard__logout {
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 2rem;
      h3 {
        margin-top: 0px;
      }
      p {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        font-family: "Orbitron";
        font-weight: 800;
      }
      a {
        font-family: "Orbitron";
        font-weight: 500;
        margin: auto;
        text-decoration: none;
        padding: 0.7rem 1rem;
        border-radius: 1rem;
        background-color: var(--error);
        color: var(--white);
      }
    }
    .dashboard__money {
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 1rem 3rem;
      p {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 0px;
        font-family: "Orbitron";
        font-size: 1.8rem;
        font-weight: 800;
      }
    }
    .dashboard__cargo {
      background-color: var(--white);
      border-radius: 0.5rem;
      padding: 2rem 3rem;
      h3 {
        margin: 0px;
        text-align: center;
      }
      .dashboard__cargo--units {
        display: flex;
        justify-content: space-between;
        font-family: "Titilium";
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}
